mixin card()
    .card
        block body
            .card-body 
                h5.card-title Card title 
                p.card-text 
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, odio.